@model Contact

@{
    ViewData["Title"] = "CreateContact";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">İletişim</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">İletişim Bilgisi Ekleme Sayfası</div>
					</div>
					<div class="card-body">

						<form method="post">

							<label>Başlık Bilgisi</label>
							<input type="text" asp-for="Title" class="form-control" required />
							<br />
							<label>Açıklama</label>
							<textarea rows="4" asp-for="Description" class="form-control" required></textarea>
							<br />
							<label>Telefon 1</label>
							<input type="text" asp-for="Phone1" class="form-control" required />
							<br />
							<label>Telefon 2</label>
							<input type="text" asp-for="Phone2" class="form-control" />
							<br />
							<label>E-Mail 1</label>
							<input type="text" asp-for="Email1" class="form-control" required />
							<br />
							<label>E-Mail 2</label>
							<input type="text" asp-for="Email2" class="form-control" />
							<br />
							<label>Adres</label>
							<input type="text" asp-for="Address" class="form-control" required/>
							<br />
							<button class="btn btn-outline-warning">İletişim Bilgisi Ekle</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>